@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toast styles */
.Toastify__toast--success {
    background-color: #38a169 !important;
    color: white !important;
}

.Toastify__progress-bar--success {
    background-color: #68d391 !important;
}